extends index.pug
block content
    if (errors)
        .row
            .col
                ul
                each error in errors                       
                    li #{error}
    .row.mt-5
        .col.ml-2
            h2 #{game.name}
    hr
    .row.mt-2
        .col
            table.table.table-borderless
                thead
                    tr
                        th(scope='col') Names
                        each val in game.players
                            th(scope='col') #{val}
                        td
                tbody
                    if (game.rounds)
                        each round in game.rounds
                            tr 
                                th.align-middle(scope='row') #{round.name}
                                    each score in round.scores
                                        td.align-middle #{score}
                                    td
                                        a.btn.btn-link(data-toggle="modal" data-target="#deleteModal" + round._id)   
                                            i.fas.fa-trash
                                        include modal.pug                                                
                    if (game.totals)
                        tr.table-lighter-color
                            th(scope='row') Total
                                each total in game.totals
                                    td #{total}   
                    if (game.ranks)
                        tr.table-lighter-color
                            th(scope='row') Rank
                                each rank in game.ranks
                                    td #{rank}                                                                                                          
    .row.justify-content-center.mt-1
        .col-sm-4
            a(role='button' class='btn btn-lg btn-custom btn-block' href= game.url + "/add") Add Round
    .row.justify-content-center.mt-1
        .col-sm-4
            a(role='button' class='btn btn-lg btn-custom btn-block' data-toggle='collapse' href='#collapse' aria-expanded="false") Share game
    .collapse(id='collapse')      
        .row.mt-5
            .col Share this link to give someone full access to the scoreboard :
                .input-group.mt-2
                    input#inputUrl(type='text' class='form-control' value= hostname + game.url readonly)
                    .input-group-append
                        button.btn.btn-custom.btn-outline-secondary#copyButtonUrl(type='button' onclick='copyToClipboard("inputUrl", "copyButtonUrl")') Copy
        .row.mt-2
            .col Share this link to give someone read-only access to the scoreboard :
                .input-group.mt-2
                    input#inputNonEditableUrl(type='text' class='form-control' value= hostname + game.nonEditableUrl readonly)
                    .input-group-append
                        button.btn.btn-custom.btn-outline-secondary#copyButtonNonEditableUrl(type='button' onclick='copyToClipboard("inputNonEditableUrl", "copyButtonNonEditableUrl")') Copy
append scripts
    script(src='/scripts/validation.js')
    script(src='/scripts/copyToClipboard.js')