extends index.pug
block content
    if (errors)
        .row
            .col
                ul
                each error in errors                       
                    li #{error}
    .row.mt-5
        .col.ml-2
            h2 #{game.name}
    hr
    .row.mt-2
        .col
            table.table.table-borderless
                thead
                    tr
                        th(scope='col')
                            a(href='#' onclick='reverseTable()') 
                                i.fas.fa-sort
                        each val in game.players
                            th(scope='col') #{val}
                        td
                tbody
                    if (game.rounds)
                        each round in game.rounds
                            tr.sortable
                                th(scope='row') #{round.name}
                                    each score in round.scores
                                        td #{score}
                    if (game.totalScore)
                        tr.table-results.sortable
                            th(scope='row') Total
                                each total in game.totalScore
                                    td #{total}
                    if (game.ranks)
                        tr.table-results.sortable
                            th(scope='row') Rank
                                each rank in game.ranks
                                    td #{rank}                                                                                     
append scripts
  script(src='/scripts/reverseTable.js')