doctype html
html
    include header.pug
    body
        include nav.pug
        .container
            if (errors)
                .row
                    .col-12
                        ul
                        each error in errors                       
                            li #{error.message}
            .row
                .col-12
                    h2.text-center Player names
                    form.formPlayerNames.needs-validation(action='/rounds', method='POST', novalidate)
                        - var n = 0
                        - var e = 0
                        while n < numberPlayers
                            .form-group.row
                                .col-sm-10
                                    if (errors)
                                        if (e < errors.length)
                                            if (errors[e].value == playerNames[n])
                                                input.playerNames.is-invalid.form-control(type='text', name='playerName', value=playerNames[n], required)
                                                .invalid-feedback #{errors[e].message}
                                                - e++
                                                - n++
                                            else
                                                input.playerNames.is-valid.form-control(type='text', name='playerName', value=playerNames[n], required)
                                                - n++
                                        else
                                            input.playerNames.is-valid.form-control(type='text', name='playerName', value=playerNames[n], required)
                                            - n++
                                        .valid-feedback Looks good!                                       
                                    else
                                        input.playerNames.form-control(type='text', name='playerName', placeholder='Player ' + n++, required)
                                        .valid-feedback Looks good!
                                        .invalid-feedback Please choose a name.
                        input(type="hidden", name='inputNumberPlayers', value=numberPlayers)        
                        button.btn.btn-primary(type='submit') Next
        script
            include ../scripts/validation.js                        
        include footer.pug