doctype html
html
    include header.pug
    body
        include nav.pug
        .container
            if (errors)
                .row
                    .col-12
                        ul
                        each error in errors                       
                            li #{error}
            .row
                .col-12
                    h2.text-center #{gameName}
                    table.table.table-striped
                        thead
                            tr
                                th(scope='col') Noms
                                each val in playerNames
                                    th(scope='col') #{val}
                        tbody
                        if (rounds)
                            each round in rounds
                                tr
                                    th(scope='row') #{round.name}
                                    each score in round.scores
                                        td #{score}
            .row.justify-content-center
                .col-4
                    a(role='button' class='btn btn-primary btn-sm' href="addRound") Add Round           
        script
            include ../scripts/validation.js                
        include footer.pug